body {
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 400;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: #212121;
}

li {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo span {
  color: #2196f3;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .header .container {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header .container .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.select-page {
  display: inline-block;
  position: relative;
  color: #2196f3;
}

.select-page::after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .select-page::after {
    bottom: -8px;
  }
}

@media screen and (min-width: 768px) {
  .select-page::after {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .button-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    right: 15px;
    top: 10px;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: none;
  }
  .button-menu .icon {
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-menu .icon-close {
    display: none;
  }
  .button-menu.is-open .icon-close {
    display: block;
  }
  .button-menu.is-open .icon-menu {
    display: none;
  }
  .button-menu:hover .icon,
  .button-menu:focus .icon {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu.is-open {
    opacity: 1;
    visibility: visible;
  }
  .menu .navlist {
    position: relative;
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .menu .contacts-header {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .menu .nav {
    margin-left: 88px;
  }
  .menu .contacts-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .menu .navlist {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .menu .nav {
    margin-left: 93px;
  }
  .menu .contacts-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-left: 304px;
  }
}

.navlist-item .navlist-item-link:hover,
.navlist-item .navlist-item-link:focus {
  color: #2196f3;
}

.navlist-item .navlist-item-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navlist-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navlist-item:not(:first-child) {
    margin-left: 50px;
  }
  .navlist-item .navlist-item-link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.header .contacts-item {
  font-style: normal;
}

.header .contacts-item .contacts-link {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header .contacts-item .contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .contacts-item .contacts-link:hover,
.header .contacts-item .contacts-link:focus {
  color: #2196f3;
}

.header .contacts-item .contacts-link:hover .icon-contacts,
.header .contacts-item .contacts-link:focus .icon-contacts {
  fill: #2196f3;
}

.header .contacts-item .icon-contacts {
  max-width: 14px;
  max-height: 14px;
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header .contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header .contacts-item .icon-contacts {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header .contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

.hero {
  margin: 0 auto;
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 1), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1), screen and (max-width: 767px) and (min-resolution: 96dpi), screen and (max-width: 767px) and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/hero.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/hero/hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 768px) and (min-resolution: 96dpi), screen and (min-width: 768px) and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/hero/hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero/hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/hero/hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 1), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 96dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 1dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/hero/hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero/hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/hero/hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/hero/hero@2x.jpg);
  }
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero .title-hero {
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero .title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero .button {
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.properties .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .properties .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .properties-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .properties-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .properties-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .properties-item:nth-child(2n) {
    margin-right: 0;
  }
  .properties-item:nth-child(n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .properties-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 4);
        flex-basis: calc((100% - 30px) / 4);
    max-width: 270px;
  }
  .properties-item:not(:last-child) {
    margin-right: 30px;
  }
}

.properties-item .thumb {
  background-color: #F5F4FA;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.properties-item .properties-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .properties-item .properties-title {
    text-align: left;
  }
}

.properties-item p {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.whatwedo .container {
  padding-bottom: 94px;
}

.whatwedo .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.whatwedo .whatwedo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .whatwedo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo {
    display: block;
  }
}

.whatwedo-item {
  position: relative;
}

.whatwedo-item:not(:first-child) {
  margin-left: 30px;
}

.whatwedo-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.ourteam {
  background-color: #F5F4FA;
}

.ourteam .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .ourteam .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.ourteam .title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .ourteam .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.ourteam-list {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .ourteam-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
  }
}

.ourteam-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .ourteam-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ourteam-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-top: 30px;
  }
  .ourteam-item:nth-child(2n) {
    margin-right: 0;
  }
  .ourteam-item:nth-child(-n+2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-info {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-info .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-info .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .team-info {
    padding-bottom: 30px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social .social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .link:hover, .social-link .link:focus {
  background-color: #2196f3;
}

.social-link .link:hover .icon-social,
.social-link .link:focus .icon-social {
  fill: #ffffff;
}

.icon-social {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients .title {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .clients .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .clients .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 50px;
  }
}

.clients-item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  max-height: 90px;
  margin-right: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .clients-item:nth-child(2n) {
    margin-right: 0;
  }
  .clients-item:nth-child(-n+2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .clients-item:nth-child(3n) {
    margin-right: 0;
  }
  .clients-item:nth-child(-n+3) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    margin-top: 0;
  }
  .clients-item:last-child {
    margin-right: 0;
  }
}

.clients .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.icon-client {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover .icon-client,
.clients .link:focus .icon-client {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.portfolio .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-list .border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

@media screen and (max-width: 767px) {
  .portfolio-list {
    margin-top: 40px;
  }
  .portfolio-list .list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
  .portfolio-list .list-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-list .list-item:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio-list .list-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
  .portfolio-list .list-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-list .list-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-list .list-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio-list-link .portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-link .portfolio-list-desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-list-link:hover, .portfolio-list-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-link .thumb {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio-list-link .card-text {
  position: absolute;
  top: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list-link .card-text {
    padding: 49px 24px;
  }
}

.portfolio-list-link:hover .card-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters .list-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters .list-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filters-button {
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover, .filters-button:focus {
  outline: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
}

.footer {
  background-color: #2F303A;
}

.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .studio-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .studio-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer {
  margin-top: 8px;
}

.contacts-footer .contacts-item:not(:first-child) {
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .social-info {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .social-info {
    margin-left: 70px;
  }
}

.social-info .social-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-info .social {
  margin-top: 20px;
}

.social-info .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-info .icon-social {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .sub {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .sub {
    margin-left: 93px;
  }
}

.sub .form-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.form-sub {
  margin-top: 20px;
}

.form-sub .button {
  position: relative;
  margin-top: 20px;
  padding: 10px 28px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  text-align: start;
}

@media screen and (min-width: 1200px) {
  .form-sub .button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.form-sub .button .icon-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 28px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .form-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-input-sub {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: #ffffff;
  outline: none;
}

.form-input-sub::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-sub:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-sub::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-sub::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .form-input-sub {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-input-sub {
    width: 358px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 90px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modalwindow {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

.modalwindow {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  max-width: 450px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modalwindow .modalwindow-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modalwindow {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modalwindow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modalwindow {
    height: 581px;
    min-width: 528px;
  }
}

.for-button {
  position: relative;
}

.for-button .clsbtn {
  position: absolute;
  top: -32px;
  right: -32px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.for-button .clsbtn .icon-clsbtn {
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.for-button .clsbtn:hover .icon-clsbtn,
.for-button .clsbtn:focus .icon-clsbtn {
  fill: #2196f3;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-field.textarea {
  margin-bottom: 0;
}

.form-field textarea {
  height: 120px;
  padding: 12px 16px;
}

.form-field textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field .form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  width: 100%;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 12px 12px 36px;
}

.form-input:focus-within {
  outline: none;
  border: 1px solid #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within + .icon-modal {
  fill: #2196f3;
}

.icon-modal {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.form-checkbox .visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.form-checkbox .checkbox:checked + .policity::before {
  border: 2px solid #2196f3;
  background: #2196f3 url(../img/original-svg/icon-check.svg) no-repeat center;
}

.form-checkbox .policity {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-checkbox .policity {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.form-checkbox .policity::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 10px 56px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */