@mixin button($top-bottom, $left-right, $bgcolor, $text-color) {
    padding: $top-bottom $left-right;
    background-color: $bgcolor;
    color: $text-color;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

@mixin font-config($weight, $size, $wiersz, $spacja) {
    font-weight: $weight;
    font-size: $size;
    line-height: $wiersz;
    letter-spacing: $spacja;
}