    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $accent: #2196f3;
    $white-text: #ffffff;
    $footer-alfa: rgba(255, 255, 255, 0.6);
    $logo-color: #000000;
    $second-bg: #2F303A;
    $main-bg: #ffffff;
    $any-bg: #F5F4FA;
    $button-bg: #F5F4FA;

    $cubic-function: cubic-bezier(0.4, 0, 0.2, 1);

    $roboto: 'Roboto', sans-serif;
    $raleway: 'Raleway', sans-serif;
