.footer{
    background-color: $second-bg;

    & .logo{
        color: $white-text;
        margin-bottom: 20px;
    }

    & .container{
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;

        @media screen and (min-width: 1200px){
            display: flex;
            text-align: left;
        }
    }
}

.studio-info{
    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px){
        display: flex;
        align-items: baseline;
    }
}

.address{
    color: $white-text;
    font-style: normal;
    @include font-config(400, 14px, 1.71, 0.03em);

    & .contacts-link{
        color: $footer-alfa;
    }
}

.contacts-footer{
    margin-top: 8px;
    & .contacts-item:not(:first-child){
        margin-top: 8px;
    }
}

.social-info{
    @media screen and (max-width: 767px){
        margin-top: 60px;
    }

    @media screen and (min-width: 768px){
        margin-left: 70px;
    }

    & .social-title{
        color: $white-text;
        @include font-config(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
    }

    & .social{
        margin-top: 20px;
    }

    & .link{
        background-color: rgba(255, 255, 255, 0.1);
    }

    & .icon-social{
        fill: $white-text;
    }
}

.sub{
    @media screen and (max-width: 1199px){
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px){
        margin-left: 93px;
    }

    & .form-title{
        color: $white-text;
        @include font-config(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
    }
}

.form-sub{
    margin-top: 20px;

    & .button{
        position: relative;
        margin-top: 20px;
        @include button(10px, 28px, $accent, $white-text);
        @include font-config(700, 16px, 1.87, 0.06em);
        width: 200px;
        height: 50px;
        text-align: start;

        @media screen and (min-width: 1200px){
            margin-top: 0;
            margin-left: 12px;

        }

        .icon-button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 28px;
            width: 24px;
            height: 24px;
            fill: $white-text;
        }
    }

    @media screen and (min-width: 1200px){
        display: flex;
    }

}

.form-input-sub{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    color: $white-text;
    outline: none;

    &::placeholder{
        @include font-config(400, 16px, 1.25, 0.03em);
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
    }

    @media screen and (min-width: 1200px){
        width: 358px;
    }
}

