.button-menu{
    @media screen and (max-width: 767px){
        display: inline-flex;
        position: absolute;
        right: 15px;
        top: 10px;
        margin: 0;
        padding: 0;
        outline: none;

        background-color: transparent;
        border: none;

        & .icon{
            transition: fill 250ms $cubic-function;
        }

        & .icon-close{
            display: none;
        }

        &.is-open .icon-close{
            display: block;
        }

        &.is-open .icon-menu{
            display: none;
        }

        &:hover .icon,
        &:focus .icon{
            fill: $accent;
        }
    }

        @media screen and (min-width: 768px){
            display: none;
        }
}

.menu{
    @media screen and (max-width: 767px){
        position: absolute;
        top:100%;
        left: 0;
        background-color: $main-bg;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
                    0px 2px 4px rgba(0, 0, 0, 0.08), 
                    0px 1px 3px rgba(0, 0, 0, 0.16);
        
        transition: opacity 250ms $cubic-function,
                    visibility 250ms $cubic-function;

        &.is-open{
            opacity: 1;
            visibility: visible;
        }

        & .navlist{
            position: relative;
            margin-top: 60px;

            text-align: center;
            @include font-config(500, 18px, 1.16, 0.02em);
        }

        & .contacts-header{
            margin-top: 60px;
            margin-bottom: 60px;

            text-align: center;
            @include font-config(500, 18px, 1.16, 0.02em);
        }
    }

    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;

        & .navlist{
            display: flex;
            @include font-config(500, 14px, 1.14, 0.02em);
            margin-left: 88px;
        }

        & .contacts-header{
            @include font-config(500, 12px, 1.16, 0.02em);
            margin-left: 84px;
        }
    }

    @media screen and (min-width: 1200px){
        & .navlist{
            @include font-config(500, 14px, 1.14, 0.02em);
            margin-left: 93px;
        }

        & .contacts-header{
            @include font-config(500, 14px, 1.14, 0.02em);
            display: flex;
            margin-top: 0;
            margin-left: 304px;
        }
    }
}

.navlist-item{
    & .navlist-item-link:hover,
    & .navlist-item-link:focus{
        color: $accent;
    }

    & .navlist-item-link{
        transition: color 250ms $cubic-function;
    }

    @media screen and (max-width: 767px){
        &:not(:last-child){
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width: 768px){
        &:not(:first-child){
            margin-left: 50px;
        }

        & .navlist-item-link{
            padding-bottom: 32px;
            padding-top: 32px;
        }
    }
}

.header .contacts-item{
    font-style: normal;
    & .contacts-link{
        color: $secondary-text-color;
        transition: color 250ms $cubic-function;
        @media screen and (min-width: 768px){
            display: flex;
            align-items: center;
        }
    }

    & .contacts-link:hover,
    & .contacts-link:focus{
        color: $accent;
    }

    & .contacts-link:hover .icon-contacts,
    & .contacts-link:focus .icon-contacts{
        fill: $accent;
    }

    & .icon-contacts{
        max-width: 14px;
        max-height: 14px;
        fill: $secondary-text-color;
        margin-right: 10px;
        transition: fill 250ms $cubic-function;
    }

    @media screen and (max-width:767px){
        &:not(:last-child){
            margin-bottom: 16px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        &:not(:last-child){
            margin-bottom: 10px;
        }

        & .icon-contacts{
            margin-right: 8px;
        }
    }

    @media screen and (min-width: 1200px){
        &{
            display: flex;
            align-items: center;
        }

        &:not(:last-child){
            margin-right: 30px;
        }
    }
}