.hero{
    margin: 0 auto;
    background-color: $second-bg;

    @media screen and (max-width: 767px){
        @media screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                                        rgba(47, 48, 58, 0.4)),
                                                        url(../img/mobile/hero/hero.jpg);
        }

        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                                            rgba(47, 48, 58, 0.4)),
                                                            url(../img/mobile/hero/hero@2x.jpg);
        }
    }

    @media screen and (min-width: 768px){
        @media screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                                        rgba(47, 48, 58, 0.4)),
                                                        url(../img/tablet/hero/hero.jpg);
        }

        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                                            rgba(47, 48, 58, 0.4)),
                                                            url(../img/tablet/hero/hero@2x.jpg);
        }

        @media screen and (min-width: 1200px){
            @media screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                                            rgba(47, 48, 58, 0.4)),
                                                            url(../img/desktop/hero/hero.jpg);
            }

            @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                                                rgba(47, 48, 58, 0.4)),
                                                                url(../img/desktop/hero/hero@2x.jpg);
            }
        }
    }

    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    & .container{
        padding-top: 118px;
        padding-bottom: 118px;

        @media screen and (min-width: 1200px){
            padding-top: 200px;
            padding-bottom: 200px;
        }
    }

    & .title-hero{
        margin-bottom: 30px;
        color: $white-text;
        text-transform: uppercase;
        @include font-config(900, 26px, 1.61, 0.06em);
        @media screen and (min-width: 1200px){
            @include font-config(900, 44px, 1.36, 0.06em);
            margin-bottom: 40px;
        }
    }

    & .button{
        @include button(10px, 32px, $accent, $white-text);
        @include font-config(700, 16px, 1.87, 0.06em);
        outline: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


