.logo{
    display: inline-block;
    font-family: $raleway;
    // margin-top: 16px;
    // margin-bottom: 16px;

    @include font-config(700, 24px, 1.16, 0.03em);

    @media screen and (min-width: 1200px){
        @include font-config(700, 26px, 1.19, 0.03em);
    }

    span{
        color: $accent;
    }
}

