.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;

    transition: opacity 250ms $cubic-function,
                visibility 250ms $cubic-function;

        @media screen and (max-width: 767px){
            padding: 90px 15px;
        }
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media screen and (min-width: 768px){
        .modalwindow{
            transform: translate(-50% ,-50%) scale(0.9);
        }
    }
}

.modalwindow{
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    max-width: 450px;

    border-radius: 4px;
    background-color: $main-bg;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);

    .modalwindow-title{
        margin-bottom: 12px;
        @include font-config(700, 20px, 1.5, 0.03em);
        text-align: center;

        @include font-config(700, 20px, 1.15, 0.03em)
    }

    @media screen and (min-width: 480px) and (max-width: 1199px){
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 768px){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%) scale(1);
        transition: transform 250ms $cubic-function;
    }

    @media screen and (min-width: 1200px){
        height: 581px;
        min-width: 528px;
    }
}

.for-button{
    position:relative;
    .clsbtn{
        position: absolute;
        top: -32px;
        right: -32px;
        background-color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .icon-clsbtn{
            width: 11px;
            height: 11px;
            transition: fill 250ms $cubic-function;
        }

        &:hover .icon-clsbtn,
        &:focus .icon-clsbtn{
            fill: $accent;
        }
    }
}

.form-field{
    position: relative;
    display: block;
    margin-bottom: 10px;

    &.textarea{
        margin-bottom: 0;
    }

    textarea{
        height: 120px;
        padding: 12px 16px;
    }

    textarea::placeholder{
        font-family: Roboto;

        @include font-config(400, 14px, 1.14, 0.01em);
        color: rgba(117, 117, 117, 0.5);
    }

    .form-label{
    @include font-config(400, 12px, 1.15, 0.01em);
        color: $secondary-text-color;
    }
}

.form-input{
    width: 100%;
    resize: none;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding: 12px 12px 12px 36px;

    &:focus-within{
        outline: none;
        border: 1px solid $accent;
        transition: border 250ms $cubic-function;
    }

    &:focus-within + .icon-modal{
        fill: $accent;
    }
}

.icon-modal{
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    transition: fill 250ms $cubic-function;
}

.form-checkbox{
    display: flex;
    text-indent: 24px;
    margin-top: 20px;
    margin-bottom: 0px;

    .visualy-hidden{
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    .checkbox:checked + .policity::before{
        border: 2px solid $accent;
        background: $accent url(../img/original-svg/icon-check.svg) no-repeat center;

    }
}

.form-checkbox .policity{
    position: relative;

    @include font-config(400, 12px, 1.16, 0.03em);

    @media screen and (min-width: 1200px){
        @include font-config(400, 14px, 1.71, 0.03em)
    }

    &::before{
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        content:'';
        width: 16px;
        height: 15px;
        border: 2px solid $primary-text-color;
        border-radius: 2px;
        background: center;
        transition: border 250ms $cubic-function,
                    background 250ms $cubic-function;
    }
}

.form .button{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    @include button(10px, 56px, $accent, $white-text);
    @include font-config(700, 16px, 1.87, 0.06em)
}