.properties {
    & .container{
        padding-top: 60px;
        padding-bottom: 60px;

        @media screen and (min-width: 1200px){
            padding-top: 94px;
            padding-bottom: 94px;
        }
    }
}

.properties-list{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
}

.properties-item{
    @media screen and (max-width: 767px) {
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 30px;
        margin-bottom: 30px;

        &:nth-child(2n){
            margin-right: 0;
        }

        &:nth-child(n+2){
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px){
        flex-basis: calc((100% - 30px) / 4);
        max-width: 270px;
        &:not(:last-child){
            margin-right: 30px;
        }

    }

    & .thumb{
        background-color: $any-bg;
        border-radius: 4px;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        margin-bottom: 30px;
    }

    & .properties-title{
        margin-bottom: 10px;
        text-align: center;
        @include font-config(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        @media screen and (min-width: 1200px){
            text-align: left;
        }
    }

    & p{
        color: $secondary-text-color;
        @include font-config(400, 14px, 1.71, 0.03em);
    }
}

