.social{
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .social-link:not(:last-child){
        margin-right: 10px;
    }
}

.social-link .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms $cubic-function;

    &:hover,
    &:focus{
        background-color: $accent;
    }

    &:hover .icon-social,
    &:focus .icon-social{
        fill: $white-text;
    }
}

.icon-social{
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    fill: #AFB1B8;
    transition: fill 250ms $cubic-function;
}