.whatwedo{
    .container{
        padding-bottom: 94px;
    }

    .title{
        margin-bottom: 50px;

        @include font-config(700, 36px, 1.16, 0.03em);
        text-align: center;
    }

    .whatwedo-list{
        display: flex;
    }

    @media screen and (max-width: 1199px){
        display: none;
    }

    @media screen and (min-width: 1200px){
        display: block;
    }
}

.whatwedo-item{
    position: relative;

    &:not(:first-child){
        margin-left: 30px;
    }
}

.whatwedo-text{
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);

    @include font-config(700, 14px, 1.14, 0.03em);
    color: $white-text;
    text-align: center;
    text-transform: uppercase;
}