body{
    padding-top: 60px;
    font-family: $roboto;
    color: $primary-text-color;
    font-weight: 400;
    letter-spacing: 0.03em;

    @media screen and (min-width:768px){
        padding-top: 80px;
    }
}

img{
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
    margin: 0;
    padding: 0;
}

.link{
    display: block;
    text-decoration: none;
    color: $primary-text-color;
}

li{
    list-style: none;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px){
        width: 480px;
    }

    @media screen and (min-width: 768px){
        width: 768px;
    }

    @media screen and (min-width: 1200px){
        width: 1200px;
    }
}
